<template name="status-auction">
    <div>
      <h1 class="domain-name"><strong>{{name}}</strong> is open for bids</h1>
 
          <p>
            You bid by submitting the maximum amount of ether you would be willing to lock in order to hold for this name. The top bidder will own the name, but you will be refunded of any amount more than the strictly necessary to overbid the second place, therefore you only need to bid once. Your maximum bid is kept secret until you reveal it.
          </p>

        {{#if hasBids}}
          <h3>Your bids</h3>

          {{#each bid in bids}}
          {{> components_bid bid=bid }}
          {{/each}}

        {{else}}
        <form class="new-bid">

          <br><h3>How much you value this name?</h3>          
          <p>
            Send the maximum amount of value you would be willing to lock for this name:<br>
            <input type="text" min="0.01" step="any" name="bidAmount" placeholder="0.01" class="bid-amount dapp-large" pattern="[0-9\.,]*">
          </p>
          <br>
          <h3>Protect Bid anonimity</h3>
          <div class="dapp-selector">
            Keep the bid secret, send an extra random amount up to <span>{{anonymizerAmount}}<span> Ether</span></span> 
            <br>
            <input type="range" name="anonymizer" min="0" max="1" step="0.01" value="{{TemplateVar.get 'anonymizer'}}">
            <span>Cheap</span>
            <span>Private</span>
          </div>
          <br>
          <p class="clear">
          <button type="submit" class="dapp-block-button" disabled="{{bidding}}">
            {{#if bidding}}
              Bidding...
            {{else}}
              Bid
            {{/if}}
          </button>            
          </p>
        </form>


        {{/if}}
          
    </div>
</template>

<template name="aside-auction">
    <h3> Time remaining until reveal phase</h3>
    <h1>{{timeRemaining}}</h1>
    <p>{{revealDate}}</p>

    <p> 
      <strong>Attention: Once the reveal phase has begun, you will have 48 hours to reveal your bid. Failing to do so will result in irreversible loss of funds. Revealing requires information stored in your browser; export your bids to make a backup of this.</strong> 
    </p>    

    {{>view_bids}}
</template>
