<template name="status-auction">
    <div>
      <h1 class="domain-name"><strong>{{name}}</strong> is waiting for bids</h1>
 
        {{>component_explainerBid}}

        {{#if hasBids}}
          <h3>Your bids</h3>

          {{#each bid in bids}}
          {{> components_bid bid=bid status='auction' }}
          {{/each}}

        {{else}}

          {{#if hasNode}}
            {{#unless TemplateVar.get 'outOfTime'}}
              {{>components_newBid}}
            {{else}}
              <button type="submit" class="dapp-block-button" disabled="true"> Bids closed </button><br><br>
              <strong> About to go in the reveal phase in a few minutes, bidding is closed </strong>
            {{/unless}}
          {{else}}
            {{> components_noNode}}
          {{/if}}

        {{/if}}
          
    </div>
</template>

<template name="aside-auction">
    {{>components_watch name=name}}

    <h3> Time remaining until reveal phase</h3>
    <h1>{{timeRemaining}}</h1>
    <p>{{revealDate}}</p>

    <p> 
      <strong>Attention: You must reveal your bid within <em>48 hours</em> of the reveal phase, failing to do so will result in <em>irreversible</em> loss of funds</strong> 
    </p>    
</template>