<template name="status-auction">
    <div>
      <h1 class="domain-name"><strong>{{name}}</strong> is open for bids</h1>
        <p>
          Auction ends at <em>{{registrationDate}}</em>.
          TODO: "Reveal period starts in (timer)"
        </p>
        <h2>
            Submit bid
        </h2>
        <form class="new-bid">
          <p>
            Submit a bid for a chance of obtaining this domain name.
          </p>
          <p>
            (temp bid password): <strong>"asdf"</strong> (todo: generate it)
          </p>
          <p>
            Bid amount
            <input type="text" min="0" step="any" name="bidAmount" placeholder="0.0" class="dapp-large" pattern="[0-9\.,]*">
          </p>
          <p>
            Decide how much Ether you want to deposit with the bid.
            This must be at least as much as the value of your bid, but can be more,
            in order to disguise the true value of the bid.
          </p>
          <p>
            Deposit amount
            <input type="text" min="0" step="any" name="depositAmount" placeholder="0.0" class="dapp-large" pattern="[0-9\.,]*">        
          </p>
          <button type="submit" class="dapp-block-button" disabled="{{bidding}}">
            {{#if bidding}}
              Bidding...
            {{else}}
              Bid
            {{/if}}
          </button>
        </form>
    </div>
</template>

<template name="aside-auction">
    <h3>This bids</h3>

    <ul>
      {{#each bid in bids}}
        <li>
            {{> components_bid bid=bid }}
        </li>
      {{/each}}
    </ul>

    {{>view_bids}}

</template>