<template name="status-open">
    <div>
      <h1 class="domain-name"><strong>{{name}}</strong> is available</h1> 
        {{>component_explainerBid}}

        {{#if hasNode}}
  
          {{>components_newBid}}

          <p>
          Or..
          </p>

          <button type="submit" class="open-auction" disabled={{opening}}> 
            {{#if opening}}
              Opening...
            {{else}}
              Open without bidding
            {{/if}}
          </button>
          

        {{else}}
        {{> components_noNode}}
        {{/if}}
        
      </div>

      {{#if hasBids}}
      <div class="unused-bids">
          <h3>Unused bids</h3>

          You open bids that you didn't reveal, but no one else did either, so these can be used again. Open the auction to retrieve your old bids.

          {{#each bid in bids}}
          {{> components_bid bid=bid status='open' }}
          {{/each}}
      </div>
      {{/if}}

</template>

<template name='aside-open'>
      {{>components_watch name=name}}
</template>