<template name="status-owned">
  {{#if isMine}}
    <h1 class="domain-name">You own <strong>{{TemplateVar.get 'name'}}</strong></h1> 
  {{else}}
    <h1 class="domain-name"><strong>{{TemplateVar.get 'name'}}</strong> is owned</h1> 
  {{/if}}

  <p>
      This name was registered at <em>{{registrationDate}}</em>. Owner offered to pay up to <em>{{highestBid}} ether</em>. 
  {{#if noBids}} 
      No other bid was above the minimum of <em>0.01 ether</em>.
  {{else}} 
      Second highest bid was <em>{{finalValue}} ether</em>.
  {{/if}}
  </p>

  {{#if needsFinalization}}
    {{#if deedOwner}}
    <p>Owned by: {{> components_address addr=deedOwner}} </p>
    {{/if}}
    {{#if hasOwner}}
      <p>Currently assigned to: {{> components_address addr=owner}} </p>
    {{/if}}
    <p>Needs to be renewed by: <strong>{{renewalDate}}</strong></p> 

    <p> <strong> Before any changes can be done to the name, the owner of this name needs to be finalized which can send them a refund {{refund}} ether to them.</strong></p>

    {{#if hasNode}}
      {{#if isMine}}
        {{> finalizeButton owner=deedOwner}}
      {{else}}
        <button class="dapp-block-button disabled" disabled>Only owner can finalize</button>      
      {{/if}}
    {{else}}
    {{> components_noNode}}
    {{/if}} 

  {{else}}

    <p>Owned by: {{> components_address addr=owner}} </p>
    <p>Needs to be renewed by: <strong>{{renewalDate}}</strong></p>
 

  <div class="records-section">
    <hr>
    {{#if (TemplateVar.get 'hasSetResolver')}}
      <p class="addr-record">
        <h3>Main Ethereum address:</h3>
        {{#if (TemplateVar.get 'editingAddr')}}
          {{> dapp_addressInput }} <br>
          
          {{#if (TemplateVar.get 'settingAddr')}}
            <button class="dapp-block-button disabled dapp-small" disabled>Applying...</button>
            <button class="dapp-block-button disabled dapp-small" disabled>Cancel</button>
          {{else}}
            <button class="dapp-block-button set-addr dapp-small">Apply</button>
            <button class="dapp-block-button cancel-edit-addr dapp-small">Cancel</button>
          {{/if}}
          
        {{else}}
          {{#if records.addr}}
            {{> components_address addr=records.addr }} <br><br>
            {{#if isMine}}
              <button class="dapp-block-button edit-addr dapp-small">Edit</button>
            {{/if}}
          {{else}}
            <span>not set</span>
          {{/if}}
        {{/if}}
      </p>
      <p class="content-record">
        <h3>Content hash for apps (IPFS/Swarm):</h3>

        {{#if (TemplateVar.get 'editingHash')}}
          <input type="text" class="content-input" value="{{TemplateVar.get 'newHash'}}"> <br><br>
          
          {{#if (TemplateVar.get 'settingHash')}}
            <button class="dapp-block-button disabled dapp-small" disabled>Applying...</button>
            <button class="dapp-block-button disabled dapp-small" disabled>Cancel</button>
          {{else}}
            <button class="dapp-block-button set-hash dapp-small">Apply</button>
            <button class="dapp-block-button cancel-edit-hash dapp-small">Cancel</button>
          {{/if}}
          
        {{else}}
          {{#if records.content}}
            <a href="bzz://{{records.content}}/">bzz://{{records.content}}/</a> <br><br>
            {{#if isMine}}
              <button class="dapp-block-button edit-hash dapp-small">Edit</button>
            {{/if}}
          {{else}}
            <span>not set</span>
          {{/if}}
        {{/if}}



      </p>
    {{else}}
      <h3>Records</h3>
      <p>
        Records are not enabled for this name (no resolver found).
      </p>
      {{#if isMine}}
        <p>
          A resolver is a contract that can answer queries about your domain. You can choose any resolver but at the moment we deployed a basic resolver that can answer about ethereum addresses and content hashes. 
        </p>
        {{#if (TemplateVar.get 'settingResolver')}}
          <button class="dapp-block-button disabled dapp-small" disabled> Setting resolver... </button>
        {{else}}
          <button class="dapp-block-button set-resolver dapp-small"> Set to default resolver </button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

  
    {{#if isMine}}
    <div class="transfer-section">
        <hr>    
        <h3>Transfer or Release</h3>
        <p>Transfer ownership of <strong>{{name}}</strong> to another account <br></p>
        <p><strong>ATTENTION: THIS IS IRREVERSIBLE</strong> once a name is transferred, only the new owner can transfer it back. Make sure you know what you're doing</p>
        <p>
        Account to transfer the name to: 
        </p>
        <p>
        {{> dapp_addressInput }}
        </p>
        {{#if transferring}}
        <button class="dapp-block-button disabled dapp-small" disabled>Transferring...</button>
        {{else}}
        <button class="dapp-block-button transfer dapp-small">Transfer</button>
        {{/if}}
        <br>
        {{#if canRelease}}
         <p>If you don't want to hold this name anymore, you can release it and get <strong>{{finalValue}} ether</strong> back. <br></p>

        {{#if releasing}}
        <button class="dapp-block-button disabled dapp-small" disabled>Releasing...</button>
        {{else}}
        <button class="dapp-block-button release dapp-small">Release</button>
        {{/if}}


        {{else}}
         <p>If you don't want to hold this name anymore, you'll be able to release it in <strong> {{releaseDate}}</strong> and get <strong>{{finalValue}} ether</strong> back.</p>
        {{/if}}
        
    </div>
    {{/if}}  <!-- /if mine -->
  {{/if}}   <!-- /if needsFinalizing -->

    {{#if hasBids}}
    <div class="unused-bids">
        <h3>Expired bids</h3>

        You have a bid, but did not reveal in time. Expired bids are burned, and you can only be refunded 0.1%.

        {{#each bid in bids}}
        {{> components_bid bid=bid status='owned' }}
        {{/each}}
    </div>
    {{/if}}  
</template>

<template name="aside-owned">
    {{>components_watch name=name}}

    <h3>about this name</h3>

    <ul>
        <li>
            <span class="big-numeral">{{finalValue}}</span> <span class="unit">ether</span> locked in this name
        </li>
        {{#if canRefund}}
        <li>
            <span class="big-numeral">{{deedBalance}}</span> <span class="unit">ether</span> still held in this name
        </li>
        {{/if}}
        
    </ul>
</template>

<template name="finalizeButton">
  <button class="dapp-block-button finalize" disabled={{finalizing}}>
    {{#if finalizing}}
      Finalizing...
    {{else}}
      Finalize it 
    {{/if}}
  </button>
</template>
