<template name="status-owned">
    <div class="status-owned col-md-8">
        <h1 class="domain-name"><strong>{{name}}</strong> is owned</h1> 
        <br>
        <p>This name was registered at <em>{{registrationDate}}</em>. Owner offered to pay <em>{{highestBid}} ether</em>, second highest bid was <em>{{deedValue}} ether</em>. </p>

        {{#if address}}
          <p>Points to: <strong>{{> dapp_identicon identity=address class="dapp-tiny"}}{{address}}</strong></p>
        {{else}}
          <p>The owner has not set a resolver for this address yet</p>
        {{/if}}
        <p>Owned by: <strong>{{> dapp_identicon identity=owner class="dapp-tiny"}}{{TemplateVar.get 'owner'}}</strong></p>
        <p>Deed address: <strong>{{> dapp_identicon identity=(entry.deed.address) class="dapp-tiny"}}{{entry.deed.address}}</strong></p>
        <p>Content: <strong>{{content}}</strong></p>
        <p>Needs to be renewed by: <strong>{{renewalDate}}</strong></p>
    </div>
    <div class="col-md-4 about-aside">
        <h3>about this name</h3>

        <ul>
            <li>
                <span class="big-numeral">{{deedValue}}</span> <span class="unit">ether</span> locked in this name
            </li>
            
        </ul>
        

    </div>
</template>
