<template name="components_address">
  <div class="components_address">
    {{#if addr}}
      {{> dapp_identicon identity=addr class="dapp-tiny"}}
      {{#if mine}}
        <i class="icon-user help" title="Account is yours"></i>
      {{/if}}
      {{#if name}}
        {{ > components_nameLink fullname=name }}
        (<span class="address {{mine}}">{{addr}}</span>)
      {{else}}
        <strong class="address {{mine}}">{{addr}}</strong>
      {{/if}}
    {{else}}
      <span>(undefined address)</span>
    {{/if}}
  </div>
</template>
