<template name="components_bid">
  <div class="components_bid">
    <p>
      You are willing to pay at most: <strong>{{dapp_formatBalance bid.value "0,0.00"}}</strong> <br>
      Deposit (will be partially refunded when you reveal your bid): <strong>{{dapp_formatBalance bid.depositAmount "0,0.00"}}</strong>
    </p>
    <p>
      {{#if isRevealed}}
        <span>This bid was revealed</span>
      {{else}}

        {{#if revealing}}
          <button class="dapp-block-button disabled" disabled>Revealing...</button>
        {{else}}
          <button class="dapp-block-button reveal-bid">Reveal</button>
        {{/if}}
      {{/if}}
    </p>
  </div>
</template>
