<template name="components_bid">
  <div class="components_bid">
    <p>Name: {{bid.fullName}}</p>
    <p>Tx: <strong>{{bid.txid}}</strong></p>
    <p>Bid: <strong>{{bid.bidAmount}}</strong> Deposit: <strong>{{bid.depositAmount}}</strong></p>
    <p>Date: <strong>{{bid.date}}</strong></p>
    <p>Reveal period starts in: (or "reveal period ends in")</p>
    <p>
      {{#if isRevealed}}
        <span>This bid was revealed</span>
      {{else}}
        {{#if (TemplateVar.get 'revealing')}}
          <button class="dapp-block-button disabled" disabled>Revealing...</button>
        {{else}}
          <button class="dapp-block-button reveal-bid">Reveal</button>
        {{/if}}
      {{/if}}
    </p>
  </div>
</template>
