
<template name="component_explainerBody">
  <p>
    This app allows you to register a <strong>.eth</strong> domain name, for use in ethereum decentralized applications and compatible blockchain browsers. Names are not bought <em>from</em> any particular organization and there is no central entity receiving any funds for this, all ether spent on this app that isn't being used to pay transactions fees is either temporarily locked or burned.
  </p>        
  <p>
    To claim a name, you must be willing to lock some amount of ether for at least a year, after which you can get the ether back by releasing the name. The process takes a week and the name will go to the account that values the name the most and is willing to lock more for it (minimum of 0.01). After names are owned, they will be controlled only by their owners, which will be able to transfer or release them, until it needs to be renewed. The contract is expected to be upgraded in 2018 to create small renewal costs, to discourage long term squatting and gold-rushing.
  </p>

  <button class="dapp-block-button dapp-small explainer">Understand the process</button>

</template>