<template name="components_nameStatus">
    <div>
      {{#if searched}}
        <div>
        {{> Template.dynamic template=(TemplateVar.get 'status') data=(TemplateVar.get 'nameInfo')}}
        </div>
      {{else}}
        <h1>Type a name</h1>
        <p>
            This app allows you to register a .eth domain name, for use in ethereum decentralized applications. 
        </p>
      {{/if}}
    </div>
</template>

<template name="status-invalid">
    <div>
        <h1>Name is too short</h1>
        <p>
            On the temporary registrar only names longer than 6 characters are allowed
        </p>
    </div>
</template>

<template name="status-can-invalidate">
    <div>
        <h1>Name is too short</h1>
        <p>
            On the temporary registrar only names longer than 6 characters are allowed.
        </p>
        <p>
            <strong>But wait!</strong> Someone has accidentally registered this name. Invalidate it and you'll get 50% of their refund.
        </p>

        <button class="dapp-block-button invalidate"> Invalidate </button>

    </div>
</template>

<template name="status-open">
    <div>
        <h1> This domain is available </h1>
        <p>
            You can open an auction now
        </p>
        <button class="dapp-block-button open-auction"> Open auction</button>
    </div>
</template>

<template name="status-auction">
    <div>
        <h1> This domain is open for bids </h1>
        <p>
            You can open an auction now
        </p>
        <button class="dapp-block-button"> Bid now</button>
    </div>
</template>

<template name="status-reveal">
    <div>
        <h1> This domain auction is waiting for bids to be revealed </h1>
        <p>
            Wait for it..
        </p>
        <button class="dapp-block-button"> Reveal yours </button>
    </div>
</template>

<template name="status-finalize">
    <div>
        <h1> This domain needs to be finalized </h1>
        <p>
            Anyone can do it..
        </p>
        <button class="dapp-block-button"> Finalize it </button>
    </div>
</template>

<template name="status-finalize-open">
    <div>
        <h1> This domain needs to be finalized </h1>
        <p>
            Anyone can do it.. Otherwise someone else can invalidate it
        </p>
        <button class="dapp-block-button"> Finalize it </button>
    </div>
</template>
