<template name="components_nameStatus">
  {{#if searched}}
    <div class="col-md-8">
      {{#if (TemplateVar.get 'error')}}
        <h1>Error getting entry</h1>
        <p>{{TemplateVar.get 'error'}}</p>
      {{else}}
        {{> Template.dynamic template=(TemplateVar.get 'status') data=(TemplateVar.get 'nameInfo')}}
      {{/if}}
    </div>
    <aside class="col-md-4">
        {{> Template.dynamic template=(TemplateVar.get 'aside') data=(TemplateVar.get 'nameInfo')}}
        {{>view_names}}
    </aside>    
  {{else}}
    <div class="col-md-8">

        <h1> Register an Ethereum Name</h1>

        <ul class="big-numerals">
            <li>
                <span class="big-numeral">{{namesRegistered}}</span> <br> names registered
            </li>
            <li>
                <span class="big-numeral">{{percentageDisputed}}</span> <span class="unit">%</span> <br> names registered for minimum amount
            </li>
            <li>
                <span class="big-numeral">{{averageValue}}</span> <span class="unit">ether</span> <br> average price paid per disputed name
            </li>
        </ul>

        <p>
            This app allows you to register a .eth domain name, for use in ethereum decentralized applications. 
        </p>        

        <br>
        <h3> Public Auctions Started recently </h3>
        <ul class="names">
          {{#each auction in publicAuctions}}
              <li>
                  <a href='#{{auction.name}}'>{{auction.fullname}}</a> 
              </li>
            {{/each}}
        </ul>

        <br>
        <h3> Public Auctions about to expire </h3>
        <ul class="names">
          {{#each auction in publicAuctionsAboutToExpire}}
              <li>
                  <a href='#{{auction.name}}'>{{auction.fullname}}</a> 
              </li>
            {{/each}}
        </ul>

    </div>
    <aside class="col-md-4">
        {{>view_names}}
    </aside> 
  {{/if}}
</template>

<template name="status-forbidden">
    <div>
        <h1>Name is too short</h1>
        <p>
            On the temporary registrar only names longer than 6 characters are allowed
        </p>
    </div>
</template>

<template name="status-forbidden-can-invalidate">
    <div>
        <h1>Name is too short</h1>
        <p>
            On the temporary registrar only names longer than 6 characters are allowed.
        </p>
        <p>
            <strong>But wait!</strong> Someone has accidentally registered this name. Invalidate it and you'll get 50% of their refund.
        </p>

        <button class="dapp-block-button invalidate"> Invalidate </button>

    </div>
</template>

<template name="aside-forbidden-can-invalidate">
   <h3>about this name</h3>

    <ul>
        <li>
            <span class="big-numeral">{{value}}</span> <span class="unit">ether</span> locked in this name
        </li>
        <li>
            <span class="big-numeral">{{invalidatorFee}}</span> <span class="unit">ether</span> will be paid to the first to report this invalid name
        </li>
    </ul>
</template>

<template name="status-reveal">
    <div>
        <h1> <strong>{{name}}</strong> waiting for bids to be revealed </h1>
        {{#if hasBids}}
          <h3>Your bids</h3>

          {{#each bid in bids}}
          {{> components_bid bid=bid status='reveal' }}
          {{/each}}

        {{/if}}
    </div>
</template>

<template name="aside-reveal">
    {{>components_watch name=name}}

    <h3> Time remaining until auction ends</h3>
    <h1>{{timeRemaining}}</h1>
    <p> {{registrationDate}} </p>
    <h3>Current highest bidder</h3>
    <span class="big-numeral">{{highestBid}}</span> <span class="unit">ether</span>

</template>

<template name="status-finalize">
   <h1 class="domain-name"><strong>{{name}}</strong> is owned</h1> 

    <p>
        This name was registered at <em>{{registrationDate}}</em>. Owner offered to pay up to <em>{{highestBid}} ether</em>. 
    </p>

    <p>Owned by: <strong>{{> dapp_identicon identity=owner class="dapp-tiny"}}{{TemplateVar.get 'owner'}} {{owner}}</strong></p>
    <p>Needs to be renewed by: <strong>{{renewalDate}}</strong></p> 

    <p> <strong> Before any changes can be done to the name, this name needs to be finalized by the owner which will send them a refund {{refund}} ether to the owner.</strong></p>

    {{> finalizeButton }}
   
</template>


<template name='aside-finalize'>
      {{>components_watch name=name}}
</template>

<template name="finalizeButton">
  <button class="dapp-block-button finalize" disabled={{finalizing}}>
    {{#if finalizing}}
      Finalizing...
    {{else}}
      Finalize it 
    {{/if}}
  </button>
</template>
