
<template name="components_noNode">
    <div class="downloadNode">
    <h3>Your Browser does not support Smart Contracts</h3>

    <p>
    You read from the Ethereum blockchain, but in order to interact with it from your browser, download an Ethereum enabled browser like <a href="https://github.com/ethereum/mist/releases">Mist</a>, <a href="https://ethcore.io/parity.html">Parity</a> or install the <a href="https://metamask.io">Metamask Chrome Extension</a>.
    </p>        
    </div>
</template>