<template name="modals_backupRestore">
  <div class="dapp-header" style="filter:none">
    <nav>
      <ul>
          <li>
              <a href="#" class="backup-link">
                  <span>Backup</span>
              </a>
              <a href="#" class="restore-link">
                  <span>Restore</span>
              </a>
          </li>
      </ul>
    </nav>
  </div>
  <div>
    {{> Template.dynamic template=view }}
  </div>
</template>

<template name="backup">
  <p>Backup your bids in order to be able to reveal them later.</p>
  <button class="dapp-block-button">Download bids</button>
</template>

<template name="restore">
  <p>Import bids from a backup file. Your current bids won't get removed.</p>
  <input type="file" id="restore-input">
  {{#if fileError}}
    <p style="color: red">{{fileError}}</p>
  {{else}}
    {{#if fileIsLoaded}}
      <p>{{totalBids}} total bids found on file.</p>
      {{#if newBidsCount}}
        <p>{{newBidsCount}} new bids will be imported.</p>
      {{else}}
        <p>No new bids found for importing</p>
      {{/if}}
    {{/if}}
  {{/if}}
  <button class="dapp-block-button import" disabled={{buttonDisabled}}>Import bids</button>
</template>