<template name="modals_explainer">
    <h1> Ethereum Name System</h1>

    <h2> What is it and what it's not </h2>
    <p>
        This is a system to create more human friendly shortcuts to long addresses, like ethereum addresses or swarm hashes, that are often used in the ethereum ecossytem.
    </p>
    <p>
        <strong>ENS is not a domain system:</strong> In the sense of internet domains, as managed by ICANN, ENS is not a domain system. While it can be used in a similar fashion on apps that replicate browser functionality, like Mist or Metamask, there is no claim on the ".eth" top level domain system, which can only be managed by ICANN
    </p><p>
        <strong>ENS is not a trademark or any sort of claim on ownership:</strong> owning a ENS name is a fully automated process and does not indicate ownership of any given trademark, copyright, brand name or any other sort of intellectual property
    </p><p>
        <strong>Names are not sold:</strong> ENS names are not sold or leased by Ethereum foundation or any other entity. While the process of claiming a name involves locking or burning funds, these were created to disincentive spamming and try to make so that names are only claimed by users who will make use of that. All ether spent on the process is either given back to the bidder after some time, sent to a burn address or sent to miner
    </p>

    <h2> How the process works </h2>
    <p>
        <strong>The process of claiming a name takes 5 days and requires multiple transactions that are time sensitive and often irreversible, so if you don't understand it fully you might irreversibly lose ether. </strong> 
    </p> <p> 
        Users start the process by opening a public auction of the name they want, which will send an alert that can be seen to anyone watching the blockchain for that specific name. During the next five days after that auction was opened, anyone who knows how to spell that name can bid for it, by making a transaction with the maximum amount they are willing to pay for the name. Bids are accepted until 120 hours after the initial auction was opened and after that the <strong>reveal phase</strong> starts. During 48 hours anyone who bid <strong>must reveal their bids</strong> (failing to do so might result in irreversible loss of funds). 
    </p> <p>
        The bidder <strong>which was willing to pay the most for the name</strong> will be the owner, but they will <strong>only pay an amount equal to the amount the second largest bidder wanted</strong>. Only one bid is required, therefore bid your theoretical maximum on the desired name. 
    </p> <p>
        Once an auction is finished, the user needs to finalize their name, to finish the auction, and at that point they will be able to transfer ownership to someone else, add a subregistrar (subdomain.foobarz.eth) or add record types associated with the name (ethereum address, bitcoin address, swarm content, etc). 
    </p> <p>
        <strong>After one year</strong> the owner can release the name back to the market and get back the ether they deposited on it, if they so wish. <strong>After two years</strong> it is expected that an updated version of the registrar will be deployed which might require some sort of recurring fee, deposit or some other way to encourage unused names to be released back in the market.
    </p>

    <h2> What names are valid? </h2>

    <p>
        As names are hashed during the auction process to increase privacy, any name, string or file could, in theory be owned via this process. <strong>Names that are shorter than 7 characters are considered reserved until the system is more mature </strong> and if registered, they can be invalidated, which will result in irreversible loss of funds by the claimer. <br>

        Names that use any character beyond alphanumeric (and hyphen and underscore), while valid, are not guaranteed to be resolved by client as it's up to each implementation, so it is discouraged to register names with accented characters, non-latin characters, emojis or any other type of non-word hash.
    </p>

    <h2> How much it costs </h2>

    <p>
        Besides usual transaction costs, these are the costs of each type of tr

        <ul>
            <li>
                Opening an auction costs about 575k gas. This is a more expensive step because it actually opens 9 dummy auctions besides the one you want, in random order, to discourage an automated bidder to bid on every open auction.
            </li>
            <li>
                Putting up a secret bid costs 325k gas, plus all the ether required to cover your bid, and some extra ether to add anonymity on the exact value of your bid. The minimum amount required for a bid is 0.01 ether.
            </li>
        </ul>

        When bids are revealed, any ether sent extra to add anonymity will be returned in full. Some fees will occur on proportional to the value of your bid, to discourage spamming. These fees are the following:

        <ul>
            <li>
                Bids that are below the value that the current winner is willing to pay, and bids that are below the overall minimum: 0.1% is burned, 99.9% is returned.
            </li>
            <li>
                Bids that are above the current winner will be locked. If any new bid displaces it, then the same 0.1% burn will be applied and the remainder 99.9% will be returned. Once the auction is over, the winning bid is locked for at least one year.
            </li>
            <li>
                Bids that are not revealed on time are completely burned. The extra ether beyond the given value will be returned, but the amount bid will be 100% destroyed.
            </li>
            <li>
                Bids not revealed for more than 4 weeks are by definition invalid and can be cleared by anyone, even if they are still anonymous. In this case, the user doing the clearing will get 0.5% of the full deposit of the bid, but the remainder will be burnt.
            </li>
            <li>
                Names that discovered to be invalidated will lose their current deposit. Anyone can invalidate a name: 50% of the deposit will go the user doing the invalidation, and the remained will be burnt.
            </li>
        </ul>

    </p>

    <h2> Responsibilities </h2>
    
    <p>
    <ul>
        
    </ul>
        <li> You are responsible for your own computer security and usage. Any consequence of the misuse of this code is your sole responsibilty. The Ethereum Foundation, nor any other entity can be held resposible for any bad consequence, loss of funds, illegal activity or any other issue that arrives as a consequence of a bad usage of the code, including bugs in the current implementation. The full code can be inspected <a href="https://github.com/ethereum/ens"> on this code repository </a> but the deployment and usage of this piece of code is your own problem. </li>

        <li> There is also no implicit guarantee that any particular implementation of this code will be used in any of our products, the Foundation reserves the right to use other name systems in their own implementations. </li>

        <li> <strong>You are responsible for your own computer security.</strong> If your machine is compromised you will lose your ether, access to any contracts and maybe more. </li>

        <li> <strong>You are responsible for your own actions.</strong> If you mess something up or break any laws while using this software, it's your fault, and your fault only. </li>

        <li> <strong> You are responsible for your own karma.</strong> Don't be a jerk and respect others.  </li>
    </p>

    <h2>Disclaimer of Liabilities and Warranties </h2>

    <p>
        The user expressly knows and agrees that the user is using the Ethereum platform at the user’s sole risk. The user represents that the user has an adequate understanding of the risks, usage and intricacies of cryptographic tokens and blockchain-based open source software, eth platform and eth.
        The user acknowledges and agrees that, to the fullest extent permitted by any applicable law, the disclaimers of liability contained herein apply to any and all damages or injury whatsoever caused by or related to risks of, use of, or inability to use, eth or the Ethereum platform under any cause or action whatsoever of any kind in any jurisdiction, including, without limitation, actions for breach of warranty, breach of contract or tort (including negligence) and that neither Stiftung Ethereum nor Ethereum team shall be liable for any indirect, incidental, special, exemplary or consequential damages, including for loss of profits, goodwill or data. <br>
        Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for certain types of damages. therefore, some of the above limitations in this section may not apply to a user. In particular, nothing in these terms shall affect the statutory rights of any user or exclude injury arising from any willful misconduct or fraud of Stiftung Ethereum. <br>
        

        <strong>Force Majeure</strong> <br>
        Stiftung Ethereum is finally not liable for:

        unavoidable casualty,
        delays in delivery of materials,
        embargoes,
        government orders,
        acts of civil or military authorities,
        lack of energy, or
        any similar unforeseen event that renders performance commercially implausible.
    </p>

</template>