<template name="modals_restore">
  <h1>Import Bids</h1>
  <p>
    This allows you to reveal bids made in other computers. Your current bids won't get removed. <br>
    
    <input type="file" id="restore-input" style="margin: 30px auto 0;">

    {{#if fileError}}
      <p style="color: red">{{fileError}}</p>
    {{else}}
      {{#if fileIsLoaded}}
        <p>{{totalBids}} total bids found on file.</p>
        {{#if newBidsCount}}
          <p>{{newBidsCount}} new bids will be imported.</p>
        {{else}}
          <p>No new bids found for importing</p>
        {{/if}}
      {{/if}}
    {{/if}}
    <br>
  </p>  

  <div class="dapp-modal-buttons no-margins">
    <button class="ok import dapp-primary-button" disabled={{buttonDisabled}}>
      {{#if buttonDisabled}}
        No bids to import
      {{else}}
        Import bids
      {{/if}}
    </button>
  </div>  
</template>