<template name="modals_warning">
    <h1> This app is deprecated </h1>

    <p>
        This app for registering Ethereum Domains has been deprecated.
        We now recommend using one of these great independent apps: 

       <ul>
        <li> <a href="https://mycrypto.com/#ens"> MyCrypto ENS (register new names) </a> </li>
        <li> <a href="https://www.myetherwallet.com/#ens"> My Ether Wallet ENS (register new names) </a> </li>
        <li> <a href="https://enslisting.com"> ENS Listing (buy/sell/rent names) </a> </li>
        <li> <a href="https://namebazaar.io"> Name Bazaar (buy/sell names) </a> </li>
        <li> <a href="http://manager.ens.domains"> ENS Manager (manage subdomains) </a> </li>
        <li> <a href="https://github.com/ethereum/ens-registrar-dapp"> Need to use this app? Run it locally </a> </li>
      </ul>
  </p>

</template>
