@import '{ethereum:dapp-styles}/dapp-styles.less';

html, body {
    height: 100%;
}

header {
    padding-top: @gridHeight * 5;
    height: @gridHeight * 15;
    background-color: #A39C9C;
    text-align: center;
    transition: background-image 0.2s ease-in-out;

    h1 {
        color: #FFF;
        margin-bottom: @gridHeight * 1;
    }

    .search-input {
        padding-right: @gridWidth * 1.5;
        font-family: Source Sans Pro, Helvetica, Arial, Sans;
        font-weight: 500;
        height: @gridHeight * 3;
        font-size: 2 em;
    }

    .tld {
        position: relative;
        left: @gridWidth * -1.5;
        font-weight: 500;
        top: 1px;
        opacity: 0.4;    
    }
}
