<template name="view_names">
    {{#if watchesNames}}
        <h3> Watched Names </h3>
        {{#if sortedByDate}}
        <ul class="names">
            {{#each name in active}}
              <li>
                  {{ > components_nameLink fullname=(name.fullname) mode=(name.mode) }}
              </li>
            {{/each}}

            <hr>

            {{#each name in inactive}}
              <li>
                  {{ > components_nameLink fullname=(name.fullname) mode=(name.mode) }}
              </li>
            {{/each}}
        </ul>
        <a href="" class="toggle-sort">Sort by name</a>
        {{else}}
        <ul class="names">
            {{#each name in names}}
              <li>
                  {{ > components_nameLink name=(name.name) mode=(name.mode)}}
              </li>
            {{/each}}
        </ul>
        <a href="" class="toggle-sort">Sort by mode</a>
        {{/if}}

        <br>

    {{/if}}

    <h3>More Options</h3>
    <ul>
        {{#if hasBids}}
        <li><a href="" class="export-bids">Export Bids </a></li>
        {{/if}}
        <li><a href="" class="import-bids">Import Bids</a></li>
    </ul>


</template>
