<template name="layout_body">
  <!-- content-->
  <main class="dapp-content container">
    {{#if (TemplateVar.get 'isReady') }}
      {{> components_nameStatus }}
    {{else}}

      {{#if (TemplateVar.get 'theresAnError') }}

      <div class="main-content col-md-12">
        {{#if (TemplateVar.get 'networkError')}}
          {{> useCustomContract }}
        {{else}}
          <h1>Something has gone awry</h1>
          <p>{{TemplateVar.get 'description'}}</p>
          <button class="dapp-block-button retry">Retry</button>
        {{/if}}
      </div>

      {{else}}

      <div class="main-content col-md-12">
        <h1 class="connection-status">{{TemplateVar.get 'description'}}</h1>
        {{> component_explainerBody}}
      </div>

      {{/if}}
    {{/if}}
  </main>
</template>


<template name="useCustomContract">
  <div class="use-custom-contract">
    <h1>Unsupported network</h1>
    <p>
      ENS is only running on the Ropsten testnet network for now,
      but you can enter a custom ENS contract address.
    </p>
    <p>
      Custom ENS address: {{> dapp_addressInput class="ens-address" }}
    </p>
    <p>
      <button class="dapp-block-button">Use custom address</button>
    </p>
  </div>
</template>
