<template name="layout_checkConnection">
  {{#if isReady }}
    {{> layout_main }}
  {{else}}
  <h1 class="services">
    {{> components_serviceStatus name='Ethereum' status=(TemplateVar.get 'ethereumStatus')}}
    {{> components_serviceStatus name='Network' status=(TemplateVar.get 'networkStatus')}}
    {{> components_serviceStatus name='Sync' status=(TemplateVar.get 'ensBlockStatus')}}
    {{> components_serviceStatus name='ENS' status=(TemplateVar.get 'ensStatus')}}
  </h1>
  {{/if}}
</template>
